<div>
    <p>Registra tu nombre de usuario y </p>

    <p>Escribe un mensaje</p>
    <form action="/api/message" method="POST" id="chatbox">
        <label>Nombre</label>
        <input name =" user"id="user" type="text">
        <label>Mensaje</label>
        <input name="message"id="newMessage" type="text">
        <button type="submit">Enviar mensaje</button>
    </form>
</div>
<script src="/js/message.js"></script>