
<center>
<h1>Login</h1>
<form action="/api/sessions/login" method="POST">
<label for="email">Email</label><br>
<input type="text" name="email" placeholder="ingrese el mensaje"/> <br>
<label for="password">password</label><br>
<input type="text" name="password" placeholder="ingrese el password"/> <br>
<button>Submit</button>
</form><br>
<button>
    <a href="/api/sessions/github">GITHUB</a></button>