<center>

    <form action="/api/sessions/register" method="POST">
        <label for="first_name">Name</label><br>
        <input type="text" name="first_name" placeholder="ingrese el mensaje" /> <br>
        <label for="last_name">Apellido</label><br>
        <input type="text" name="last_name" placeholder="ingrese el password" /> <br>
        <label for="email">Email</label><br>
        <input type="text" name="email" placeholder="ingrese el Email" /> <br>
        <label for="password">password</label><br>
        <input type="text" name="password" placeholder="ingrese el password" /> <br>
        <label for="role">role</label><br>
        <input type="text" name="role" placeholder="ingrese el role" /> <br>
        <button>Submit</button>
    </form>
</center>